<a href="https://colab.research.google.com/github/kavyasreemaniga/DATA_690/blob/main/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 3

Write a program that generates 100 random integers between 0 and 9.

1. Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [ ]:
import random

In [ ]:
ran_num = []

for i in range(100):
  ran_num.append(random.randint(0,9))

count=0
for i in range(10):
    for j in range(10):
        print(ran_num[count],"", end ="")
        count+=1
    print("\n")

2 7 0 3 5 5 4 7 6 2

0 3 5 6 5 4 3 3 3 6

1 5 9 6 3 1 6 7 5 1

2 7 8 6 9 0 5 4 3 3

7 9 9 1 0 7 1 6 8 8

7 4 4 9 1 5 8 8 6 1

4 8 3 7 6 6 4 7 5 9

0 3 6 7 4 3 0 3 4 3

4 0 7 9 2 1 7 7 6 7

0 3 3 5 2 0 7 9 0 7

2. If the random number is an odd number, print "@" instead. like the following:

In [ ]:
ran_num = []
for i in range(100):
  num = random.randint(0,9)
  if num % 2 == 0:
    ran_num.append(num)
  else :
    ran_num.append("@")

count=0
for i in range(10):
    for j in range(10):
        print(ran_num[count],"", end ="")
        count+=1
    print("\n")

8 2 2 @ @ @ 0 @ 2 @

2 2 @ @ @ 6 6 @ @ 8

8 @ @ 8 8 @ 0 @ 0 @

4 @ @ @ 6 @ 8 8 @ 6

@ @ @ 0 8 @ 2 8 2 @

@ @ 2 0 6 6 @ 0 2 @

8 8 8 8 2 8 2 4 2 6

@ 2 @ @ 8 0 @ 0 6 8

@ @ 8 8 6 @ @ @ 4 4

0 @ 4 4 4 2 @ @ @ 8

3. Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [ ]:
ran_num = []

for i in range(100):
  ran_num.append(random.randint(0,9))

count=0
for i in range(10):
    sum=0
    for j in range(10):
        print(ran_num[count],"", end ="")
        sum+=ran_num[count]
        count+=1
    print("*",sum,"\n")

8 6 3 9 3 3 3 8 7 4 * 54

8 5 8 4 0 8 4 7 9 1 * 54

2 9 6 4 8 9 0 8 0 5 * 51

2 5 3 6 8 3 7 6 5 6 * 51

7 9 9 0 5 5 9 1 0 1 * 46

8 6 1 5 5 3 1 7 3 6 * 45

9 2 3 7 7 7 4 5 8 8 * 60

8 9 8 5 5 8 1 4 0 3 * 51

1 8 7 7 2 7 6 7 1 7 * 53

5 8 4 9 8 4 9 3 6 5 * 61

4. Surround the matrix with asterisks (*) like the following:

In [ ]:
ran_num = []

for i in range(100):
  ran_num.append(random.randint(0,9))

for i in range(22):
  print("*", end = "" )
print("")

count = 0
for i in range(10):
    print("*", end="")
    for j in range(10):
        print(ran_num[count],"", end ="")
        count+=1
    print("*"," ")

for i in range(22):
  print("*", end = "" )
print("")

**********************
*1 8 9 2 8 9 4 0 7 1 *
*5 7 1 2 9 1 1 4 9 2 *
*1 8 3 5 6 6 5 8 5 9 *
*4 0 1 7 4 6 1 5 2 7 *
*2 3 2 9 6 8 0 6 3 0 *
*1 1 6 0 6 2 4 0 0 6 *
*6 9 1 1 9 9 4 4 8 2 *
*6 7 1 7 3 6 4 7 4 4 *
*4 0 7 4 0 2 8 8 9 6 *
*4 1 4 5 9 8 4 6 3 8 *
**********************

5. Calculate and Print the total of each row and column like the following:

In [ ]:
ran_num = []

for i in range(100):
  ran_num.append(random.randint(0,9))

count=0
for i in range(10):
    sum=0
    for j in range(10):
        print(ran_num[count],"", end =" ")
        sum+=ran_num[count]
        count+=1
    print("*",sum,"\n")

for i in range(10):
    print("*"," ", end="")
print("")

sum_vertical=[]
for i in range(10):
    num_range=range(i,100,10)
    sum=0
    for j in list(num_range):
        sum+=ran_num[j]
    sum_vertical.append(sum)

for i in range(10):
    print(sum_vertical[i],"", end="")
print("")

0  6  2  3  7  7  4  3  9  9  * 50

9  9  6  2  5  4  6  4  9  3  * 57

7  9  0  2  3  7  0  3  5  6  * 42

0  3  4  6  2  7  9  0  9  2  * 42

5  6  4  3  5  2  2  4  6  3  * 40

4  9  8  7  4  8  7  8  0  5  * 60

3  5  0  5  4  2  1  6  4  4  * 34

0  9  5  1  0  5  5  3  6  9  * 43

9  1  4  6  9  8  0  8  4  5  * 54

5  9  2  8  8  0  2  5  3  0  * 42

*  *  *  *  *  *  *  *  *  *
42 66 35 43 47 50 36 44 55 46