<a href="https://colab.research.google.com/github/kavyasreemaniga/DATA_690/blob/main/DATA690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 02

In [5]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth years of students", years)

Birth years of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [6]:
type(years)

str

In [7]:
years.split(" ")

['1/11/1997',
 '1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [8]:
years_list = years.split(" ")

print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [13]:
y = [-2.5, 0, 10, 45, -11]

In [16]:
total = 0 
for number in y:
  total = total + number

print("Sum of y: ", total)

print("Size of y:", len(y))

print("Average of y: ", total/len(y))

Sum of y:  41.5
Size of y: 5
Average of y:  8.3

In [17]:
years_list[1]

'1991'

In [21]:
years_list.pop(0)

'1/11/1997'

In [22]:
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [24]:
from datetime import date

current_year = date.today().year

print(current_year)

total = 0
for birth_year in years_list:
  age = current_year - int(birth_year)
  total = total + age


print(total)

2022
578